In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a dataframe
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index = ['Row1','Row2','Row3','Row4','Row5'] , columns = ["Column1","Column2","Column3","Column4"])
df 

# To create a dataframe df = pd.DataFrame(data , index = ['' , '' ] , columns = ['' , '' ] )

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [3]:
df.to_csv("01_Test1.csv") # To convert the dataframe into a csv file

#### Accessing the elements.
#### 1) .loc (focusses on row indexes)
#### 2) .ioc ( focusses on both row indexes , column indexes)

In [4]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [5]:
type(df.loc['Row1'])

pandas.core.series.Series

In [6]:
df.iloc[ : , : ] # Prints all the rows and columns of df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [7]:
# If we want only 2 rows but all columns
df.iloc[0:2 , :]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7

In [8]:
type(df.iloc[0:2 , :])
# More than 1 column , more than 1 row --> dataframe oterwise series

pandas.core.frame.DataFrame

In [9]:
# Converting the dataframes into an array
df_array = df.iloc[ : , : ].values  
df_array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [10]:
df_array.shape

(5, 4)

In [11]:
# To check how many null values are present 
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [12]:
df.value_counts()

Column1  Column2  Column3  Column4
0        1        2        3          1
4        5        6        7          1
8        9        10       11         1
12       13       14       15         1
16       17       18       19         1
dtype: int64

In [13]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [14]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [15]:
df[['Column1' , 'Column2' ]] # Dirctly printing Column1 , Column2 without using iloc

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17